services:
  db:
    image: postgres:15-alpine
    container_name: huertify_db
    restart: always
    environment:
      POSTGRES_USER: dbsudoluxgarden
      POSTGRES_PASSWORD: luxgardentestpwd
      POSTGRES_DB: huertify
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: huertify_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"

volumes:
  postgres_data:
